<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luksprog.dp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainCategories" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CategoryActivities" />
        <!-- NORMAL ACTIVITIES -->
        <activity android:name=".adapter.ExpandingElementList" >
            <intent-filter>
                <action android:name="com.luksprog.dp.intent.ADAPTER_INTENT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.NestingDialogFragmentsSample" >
            <intent-filter>
                <action android:name="com.luksprog.dp.intent.FRAG_INTENT" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.CABWithFragments" >
            <intent-filter>
                <action android:name="com.luksprog.dp.intent.FRAG_INTENT" />
            </intent-filter>
        </activity>
    </application>

</manifest>